
METEO/.vs/Meteo/v16/.suo
*.ipch
*.opendb
*.db-shm
*.db
*.db-wal
*.db
METEO/.vs/*
METEO/x64/*
METEO/Meteo.vcxproj.user
star/.vs/*
star/x64/*
star/Release/*
LabProject07-9-7(Animation)/x64/*
star/LabProject07-9-1.vcxproj.user
star/.vs/LabProject07-9-1/v16/.suo
StressTest/.vs/*
StressTest/x64/*
StressTest/StressTest/x64/*

Server/Server/x64/*
Server/.vs/*
Server/Server/Server.vcxproj.user
Server/x64/*
star/Playerdasf.cpp
*.vsidx
LabProject07-9-7(Animation)/.vs/LabProject07-9-7(Animation)/v17/.suo
LabProject07-9-7(Animation)/.vs/LabProject07-9-7(Animation)/FileContentIndex/read.lock
*.tlog
*.log
*.pdb
